<div id="content">
  <!--<div class="row">-->
    <!--<sa-big-breadcrumbs [items]="['Table', 'Ngx Datatable']" icon="table"-->
                        <!--class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>-->
  <!--</div>-->

  <sa-widgets-grid>


    <!--<div class="row">-->


        <!--<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">-->
            <!--<h1 class="page-title txt-color-blueDark">&lt;!&ndash; PAGE HEADER &ndash;&gt;<i class="fa-fw fa fa-home"></i> Home <span>/-->
							<!--Machine configuration </span></h1>-->
        <!--</div>-->

      <!--<article class="col-sm-12 col-md-12 col-lg-12">-->

         <!--<div sa-widget [editbutton]="false" [fullscreenbutton]="false" color="blueDark">-->

             <!--<header>-->
                 <!--<span class="widget-icon"> <i class="fa fa-table"></i> </span>-->

                 <!--<h2>Configuration des Machines</h2>-->
             <!--</header>-->

            <!--<div>-->
              <!--<div class="widget-body no-padding">-->
                <!--<paged-table-demo></paged-table-demo>-->
              <!--</div>-->
            <!--</div>-->
         <!--</div>-->


      <!--</article>-->
    <!--</div>-->
    <div class="row">

        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-home"></i> Home <span>/
							Plateforme configuration </span></h1>
        </div>

      <article class="col-sm-12 col-md-12 col-lg-12">



         <div sa-widget [editbutton]="false" [fullscreenbutton]="true" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>

            <h2>Configuration des plateformes Gaya III</h2>
          </header>


            <div>
              <div class="widget-body no-padding">
                <row-detail-demo></row-detail-demo>
              </div>
            </div>
         </div>


      </article>
    </div>
  </sa-widgets-grid>
</div>

